---
apiVersion: v1
kind: Pod
metadata:
  name: pu-pr2
  labels: 
    app: pu-pr2
spec:
  containers:
     - image: ubuntu-ssh:v1.0
       name: pu-pr2
       ports:
         - containerPort: 22
  restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: pu-pr2
  namespace: default
  labels:
    app: pu-pr2
spec:
  type: ClusterIP
  selector:
    app: pu-pr2
  ports:
  - name: port-22-tcp
    protocol: TCP
    targetPort: 22
    port: 9026
  externalIPs:
  - "{{ controller_ip }}"
